%article.bodyText
  %h1 Examples
  %section
    %h1 Adventure
    %p= link_to '(Example Encounter)', example_encounter_path
    
    %p Below is a sample Adventure presented as you would submit it in the #{link_to 'adventure contribution form', new_adventure_path}.
    
    - adv = YAML.load(Rails.root.join('content', 'adventures', 'the_haunted_village.yml'))
    
    .row.gapAbove
      .span10.columns
        %p.yamlHeader Author:
        .yamlCont= adv.author
        
        %p.yamlHeader Author Link:
        .yamlCont= url_for(adv.author_link)
    
      %aside.span6.columns
        .inner
          :markdown
            Let the world know that You Made This.
            
            Please fill in the name you'd like to license your Adventure under, together with a representative URI for you, if you so desire.
            
    %br/
    
    .row.gapAbove
      .span10.columns
        %p.yamlHeader Title:
        .yamlCont= adv.title
        
        %p.yamlHeader Summary:
        .yamlCont= adv.summary
        
      %aside.span6.columns
        .inner
          :markdown
            The Adventure's **Title** and **Summary** will be displayed when a player is choosing an Adventure for their Exalt to embark on. They should be short, pithy and inviting.
            
    %br/
    
    .row.gapAbove
      .span10.columns
        %p.yamlHeader XP Level:
        .yamlCont= adv.xp_bracket.to_s.titleize
      
      %aside.span6.columns
        .inner
          :markdown
            **XP Level** describes the rough level of character which can be offered this **Adventure**. I'm deliberately leaving the definition of "low level", "high level" etc. vague, as I haven't finalised XP awards. Also, note that I may reassign a given Adventure to a different level if needed for balance or variety.
            
    %br/
    
    .row.gapAbove
      .span10.columns
        %p.yamlHeader Encounters:
        .yamlCont
          %ul
            - adv.encounters.each do |enc_name|
              - if enc_name == :random
                %li Random Encounter
              - else
                = render :partial => 'encounter_as_text', :locals => {:filename => Rails.root.join('content', 'encounters', title_to_filename(adv.title), enc_name + '.yml')}
      %aside.span6.columns
        .inner
          :markdown
            An Adventure is made up of several sequential **Encounters**. You choose the number of Encounters for your Adventure - there's no hard-and-fast rule, but low-XP Adventures should have fewer Encounters than high-XP ones. Let's start out trying roughly 5-6 Encounters at the Low end, ramping up to 10-12 at the High end. I'll tweak if necessary.
			
            Each Encounter should either be defined as "Random", in which case a [Random Encounter](#{example_encounter_path}) of appropriate level will be picked afresh each time the Adventure is run; or given a full fixed [Encounter](#{example_encounter_path}). The success or failure of the final **Encounter** governs whether the Adventure as a whole was a success or failure.
            
            Note that resolutions on fixed Encounters can involve substituting later fixed Encounters; substitutes should be defined as **Auxiliary Encounters**.
    %br/      
            
    .row.gapAbove
      .span10.columns
        %p.yamlHeader Auxiliary Encounters:
        .yamlCont
          %ul
            - adv.aux_encounters.each do |enc_name|
              - if enc_name == :random
                %li Random Encounter
              - else
                = render :partial => 'encounter_as_text', :locals => {:filename => Rails.root.join('content', 'encounters', title_to_filename(adv.title), enc_name + '.yml')}
      %aside.span6.columns
        .inner
          :markdown
            **Auxiliary Encounters** are Encounters which do not originally form part of the Adventure, but which can be swapped in (by name) depending on the result of an earlier fixed Encounter in the Adventure.
            
    %br/
    .row.gapAbove
      .span10.columns
        %p.yamlHeader XP Level:
        .yamlCont= adv.xp_bracket.to_s.titleize
        
      %aside.span6.columns
        .inner.againstHeader
          :markdown
            **XP Level** describes the rough level of character which can choose this **Adventure**. I'm deliberately leaving the definition of "low level", "high level" etc. vague, as I haven't finalised XP awards. Also, note that I may reassign a given Adventure to a different level if needed for balance or variety.
    
    %br/
    
    .row.gapAbove
      .span10.columns
        %p.yamlHeader Image:
        .yamlCont
          :markdown
            Link: #{adv.image.file || 'None'}
            
            Artist: #{adv.image.artist || 'None'}
            
            Artist link: #{adv.image.artist_link || 'None'}
            
            Licence: #{adv.image.licence || 'None'}
      
      %aside.span6.columns
        .inner.againstHeader
          :markdown
            **Image** is the details of a small (at present, scaled to 100px x 100px) image which will adorn the Adventure. Please supply a link from where I can download the image (later versions of this form will probably allow upload of image files, once I work out appropriate incantations).
            
            For copyright reasons, I will need you to supply the artist's name or handle &mdash; the moniker they gave themselves when self-attributing the work. A URI to their work or homepage would be polite. 
            
            Finally, I would like to know the licence under which the image is released. If you are the artist, or you can consult them, you can specify the "Exalted Mini Adventures" licence, which is the general licence for this site, as described on the #{link_to 'contribution', contribute_path} landing page: Creative Commons BY-NC-SA modified to permit donations. Otherwise, it would help if the licence were at least as permissive as a Creative Commons BY-NC-SA; in the case of a CC-NC, I will remove the image (pending artist permission) should the site move to a donation model. Creative Commons abbreviations, "Public Domain" and URIs of the artist's licence terms are acceptable. Please enter "Unknown" if the licence isn't obtainable - I will probably use such images for as long as the site remains entirely unfunded.